body {
    background-color: #f6f9ff;

}


.profile {
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-top: 3%;
    text-align: center;
    border: 1px solid rgba(96, 96, 96, 0.255);
    border-radius: 12px;
    margin-top: 1%;
}

.profimg {
    width: 150px;
    height: 150px;
    border-radius: 10%;
}

/* Profile Accordian  */


.accordion-item {
    margin: 8px;
    border: 0.3px solid #676767;
    border-radius: 4px;
}

.accordion-title {

    display: flex;
    align-items: center;

    width: 100%;
    background-color: white;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: black;
    letter-spacing: 0.3px;
    padding: 6px 10px;
    cursor: pointer;
    text-align: left;
    border: 0.3px solid #676767;
    border-radius: 4px;
}


.accordion-title span {
    font-size: 30px;
    color: #1f3b66;
    margin: 0 5px 0 0;
}

.accordion-title p {
    margin-bottom: 0 !important;
}

.accordion-content {
    display: block;
    padding: 5px;
    background-color: #f6f9ff;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: black;
    letter-spacing: 0.3px;
}

.stddetails {
    margin-top: 10%
}

/* Qr Scanner Popup */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    /* Light background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.421);
    border: 1px solid #67676735;
    width: 500px;
    max-height: 80%;
    overflow: auto;
}

.popup-content .compdesc {
    margin-top: 20px;
}

.popup-content .compdesc form {
    display: flex;
    flex-direction: column;
}

.popup-content .compdesc label {
    font-size: 16px;
    font-weight: bold;
}

.popup-content .compdesc select {
    /* width: 100%; */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.popup-content .compdesc input[type="radio"] {
    margin-right: 5px;
}

.popup-content .compdesc input[type="radio"]+label {
    font-weight: normal;
    font-size: 14px;
}

.popup-content .compdesc .radio-group {
    display: flex;
    align-items: center;
}

/* Student Profile */

.stdprfl {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.stdprfl_head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.stdprfl_head p {
    margin-bottom: 4px !important;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #676767;
}

.stdprfl_body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.stdprfl_body p {
    margin-bottom: 4px !important;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: black;
    letter-spacing: 0.3px;
}

/* Update Profile  */
/*  
.updateprfl{
    padding: 2px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 2px;
} */

.updateprfl p {
    margin-bottom: 0 !important;
    margin-right: 20px;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 20px
}

.updateprfl span {
    cursor: pointer;
    margin-left: 0;
    margin-right: 70px;
    width: 10px;
    height: 10px;
    font-size: 20px;
    align-items: center;
}

/* drive section  */


.drivesecheading {
    font-family: 'Outfit', sans-serif;
    padding: 4%;
    display: flex;
    color: #1f3b66;
}

.drivesecheading span {
    display: flex;
    align-items: center;

}


/* statusbar */

.statusbar {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 12px;
    text-align: center;
    border: 1px solid rgba(96, 96, 96, 0.255);
    border-radius: 12px;
}

.verline {
    border-right: 1.5px solid rgba(96, 96, 96, 0.255);
    margin: 2% 0;
}

.countdiv p {
    margin-bottom: 0 !important;
}

.countdiv {
    margin: 1% 0;
}

.subheading {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
}

.subcount {
    font-family: 'Outfit', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    color: #1f3b66;
}

.disccount .subcount {
    border: 3px solid green;
    border-radius: 12px;
    margin: 0 -7%;
}

/* DriveCard */

.drivecard {
    background-color: white;
    border-radius: 12px;
    border: 1px solid rgba(96, 96, 96, 0.255);
    margin: 2% 0;
    padding: 2% 3%;
}

.drivecard p {
    margin-bottom: 0 !important;
}

.horline {
    border-top: 2px solid rgba(96, 96, 96, 0.422);
    margin: 0 2%;
}

.drivecard .compdet {
    display: flex;
    justify-content: space-between;
    padding: 0 3% 1%;

}

.comprole {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    color: black;
    letter-spacing: 0.3px;
}

.compname {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: #676767;
}

.comptime {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 0.6rem;
    color: #676767;
}

.drivecard .compdisc {
    display: flex;
    justify-content: space-evenly;
}

.drivecard .compbtn {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 3% 1%;
}

.comphead {
    display: flex;
    align-items: center;
}

.compbtn .stdapl {
    display: flex;
    align-items: flex-end;
}

.stdapl p {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: #676767;
    margin-bottom: 0 !important;
    margin-top: 1%;
    padding-bottom: 5%;
}

.compdiscdiv p {
    margin-bottom: 0 !important;
}

.compdiscdiv {
    margin: 1% 0;
}

.compdisc .head {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 0.85rem;
  color: #676767;
}

.compdisc .subhead {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: black;
  letter-spacing: 0.3px;
}

@media(max-width: 768px){
    .compdisc .head {
      font-size: 0.6rem;
    }
  
    .compdisc .subhead {
      font-size: 0.7rem;
    }
  }  

.stdapl span .material-symbols-outlined {
    display: flex;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    color: #1f3b66;
    font-size: 32px;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
}

.groupicon {
    margin-right: 0.2rem;
    align-items: flex-end;
}

.complogo {
    width: 78px;
    padding: 4px;
}

.imgborder {
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.433);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 7px;
}

.imgborder span {
    margin-left: 0;
    font-size: 1.3rem;
    color: #67676749;
    height: 1.8rem;

}

.drvbtns {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.viewdtl {
    background-color: white;
    border: 2px solid #1f3b66;
    border-radius: 5px;
    font-family: 'Outfit', sans-serif;
    font-size: 0.6rem;
    font-weight: 400px;
    color: #676767;
    margin-right: 7px;
    padding: 2% 3%;
}

.viewdtl:hover {
    background-color: #1f3b66;
    border: 2px solid #1f3b66;
    border-radius: 5px;
    font-family: 'Outfit', sans-serif;
    font-size: 0.6rem;
    font-weight: 400px;
    color: white;
    margin-right: 7px;
    padding: 2% 3%;
}

.apnow_btn {
    background-color: #1f3b66;
    border-radius: 5px;
    font-family: 'Outfit', sans-serif;
    font-size: 0.6rem;
    font-weight: 400px;
    color: white;
    padding: 2% 6.5%;
}

.deadline_btn {
    background-color: #6c757d;
    border-radius: 5px;
    font-family: 'Outfit', sans-serif;
    font-size: 0.6rem;
    font-weight: 400px;
    color: white;
    padding: 2% 6.5%;
}

.applied_btn {
    background-color: #0f7e0b;
    border-radius: 5px;
    font-family: 'Outfit', sans-serif;
    font-size: 0.6rem;
    font-weight: 400px;
    color: white;
    padding: 2% 6.5%;
}

/* home page  */

.homebody {
    /* background-image: url("../images/cdcbck.jpg"); */
    /* backdrop-filter: brightness(0.7) blur(3px); */
    /* filter: grayscale(1) opacity(0.5); */
    min-height: 100vh;
    /* background-size: 110%;
    background-position-x: 78%; */
}

.homebody::before {
    min-height: 100vh;
    background-size: 110%;
    background-position-x: 78%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../images/cdcbck.jpg");
    background-size: cover;
    filter: brightness(0.7) blur(3px);
    z-index: -1;
}



.homhead {
    height: 100vh;
    padding-top: 6%;
}

.homelogo {
    width: 70px;
}

.cdchead {
    display: flex;
}

.cdcline {
    border-right: 4px solid white;
}

.cdcttl {
    font-family: 'Outfit', sans-serif;
    font-weight: 800;
    font-size: 45px;
    color: white;
    margin-left: 15px;
    line-height: 50px;
}

.cdcttl span {
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    font-size: 45px;
    color: white;
}

.homettl {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.loginsec {
    min-height: 60vh;
}

.homettl p {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: white;
    line-height: 35px;
}

.homettl p span {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: white;
}

.cdchrline {
    border-bottom: 1.5px solid white;
    margin-right: 70px;
    margin-top: 5px;
}

/* login form */

.signinsec {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding: 0 10%;
    margin: 5% 15%;
    background-color: white;
    border: 1px solid #676767;
    border-radius: 12px;
    background-image: url("../images/doodle4.jpg");
}

.lgnhead {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #676767;
    letter-spacing: 0.3px;
}

.lgnform {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 125px;
}

.lgnform p {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #676767;
    margin-bottom: 0;
}

.lgnbtns p {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #1f3b66;
}

/* SignUp Form  */

.signupsec {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border: 1px solid #676767;
    border-radius: 12px;
    padding: 1% 5%;
    margin: 5% 15%;
    height: 450px;
    background-image: url("../images/doodle_bkg.jpg");
}

.sgnhead {
    display: flex;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #676767;
    letter-spacing: 0.3px;
}

/* .sgnbody {
    display: flex;
    justify-content: space-evenly;

}

.sgnbody div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
} */

.sgnbody p {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #676767;
    margin-bottom: 0;
}

.sgnbtn {
    display: flex;
    justify-content: center;
}

/* .form-floating label{
    border-radius: 5px;
    border: 0.5px solid #676767;
    height: 30px;
    width: 220px;
    padding: 2%;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 16px;
} */

/* #inptbox :active{
    border: 0.5px solid red;
} */